<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body mt-5 text-center">
      <h1 class="text-center mt-3">登錄</h1>
      {{> message}}
      <form action="/users/login" method="POST">
        <div class="mb-3">
          <label for="email" class="mb-2">信箱</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email">
        </div>
        <div class="mb-3">
          <label for="password" class="mb-2">密碼</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block ">登錄</button>
        
      </form>
      <p class="lead mt-4">
        沒有帳戶? <a href="/users/register">註冊</a>
      </p>
    </div>
  </div>
</div>